@import "./configuration";

.navbar {
	@include transition(0.3s all ease-in-out);
	margin-top: size(40);
	padding: 0;
	@include media-breakpoint-down(md) {
		margin-top: size(20);
	}
	.navbar-brand {
		width: size(180);
		@include media-breakpoint-down(md) {
			width: size(100);
		}
		img {
			@include transition(0.3s all ease-in-out);
		}
	}
	.navbar-collapse {
		@include media-breakpoint-down(lg) {
			position: fixed;
			top: 0;
			left: -200%;
			width: 80%;
			z-index: 999;
			min-height: 100vh;
			overflow-y: auto;
			@include radialGradient();
			@include transition(0.3s all ease-in-out);
			&.show {
				left: 0;
			}
		}
		.navbar-nav {
			position: relative;
			@include transition(0.3s all ease-in-out);
			@include media-breakpoint-down(lg) {
				background: transparent;
				backdrop-filter: none;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: size(50);
				@include radialGradient();
				opacity: 0.5;
				z-index: 1;
				@include transition(0.3s all ease-in-out);
			}
			.nav-item {
				position: relative;
				z-index: 2;
				&:not(:last-child) {
					margin-right: size(45);
					@include media-breakpoint-down(xl) {
						margin-right: size(20);
					}
					@include media-breakpoint-down(lg) {
						margin-bottom: size(30);
					}
				}
				&:nth-last-child(3) {
					@include media-breakpoint-up(lg) {
						margin-right: 0;
					}
				}
				.nav-link {
					color: $white;
					padding: 0;
					@include media-breakpoint-down(lg) {
						font-size: size(20);
					}
					&:hover,
					&.active {
						color: $primary;
					}
				}
			}
		}
	}
	.btn {
		border: size(1) solid $white;
		color: $white;
		@include media-breakpoint-down(lg) {
			position: absolute;
			top: 0;
			right: size(100);
		}
		&:hover {
			background: $primary;
			border-color: $primary;
			color: $white;
		}
	}
	.navbar-toggler {
		position: absolute;
		top: size(10);
		right: size(30);
		border: none;
		@include transition(0.3s all ease-in-out);
		&:focus {
			outline: none;
			box-shadow: none;
		}
		.navbar-toggler-icon {
			background-image: none;
			background-color: transparent;
			border: none;
			width: size(30);
			height: size(20);
			position: relative;
			.menu-icon {
				display: block;
				width: 100%;
				height: size(2);
				background-color: $white;
				position: absolute;
				right: 0;
				transform-origin: center right;
				@include transition(0.3s all ease-in-out);
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					top: 50%;
					transform: translateY(-50%);
				}
				&:nth-child(3) {
					bottom: 0;
				}
			}
		}
		&[aria-expanded="true"] {
			.navbar-toggler-icon {
				.menu-icon {
					&:nth-child(1) {
						transform: rotate(45deg) translate(size(14), size(13));
					}
					&:nth-child(3) {
						transform: rotate(-45deg) translate(size(14), size(-13));
					}
					&:nth-child(2) {
						opacity: 0;
					}
				}
			}
		}
	}
	&.scrolled {
		background: $body-bg;
		margin-top: 0;
		padding: size(10) 0;
		@include shadow();
		.navbar-collapse {
			@include media-breakpoint-down(lg) {
				background: $body-bg;
			}
			.navbar-nav {
				background: $body-bg;
				&::before {
					opacity: 0;
				}
				.nav-item {
					.nav-link {
						color: $secondary;
						&:hover,
						&.active {
							color: $primary;
						}
					}
				}
			}
		}
		.navbar-toggler {
			@include media-breakpoint-down(lg) {
				top: size(17);
			}
			.navbar-toggler-icon {
				.menu-icon {
					background-color: $secondary;
				}
			}
		}
		.btn {
			color: $secondary;
			border-color: $secondary;
			@include media-breakpoint-down(lg) {
				top: size(7);
			}
			&:hover {
				background: $primary;
				border-color: $primary;
				color: $white;
			}
		}
	}
}

.banner {
	background: $dark url(../images/banner-bg.png) no-repeat bottom center/contain;
	.data {
		max-width: size(500);
	}
	&.internal__banner {
		background-image: url(../images/internal-banner-bg.png);
		background-position: top right;
		background-size: 100% 100%;
	}
}

.form__search {
	max-width: size(810);
	@include radialGradient();
	border: size(1) solid rgba($white, 0.5);
	.form-control {
		background: transparent;
		border: none;
		flex: 0 0 calc(100% - size(50));
		max-width: calc(100% - size(50));
		color: $white;
		&::placeholder {
			color: $white;
		}
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.btn {
		width: size(50);
		height: size(50);
		border-radius: size(100);
		&:hover {
			transform: translateX(size(5));
		}
	}
}

.services__tabs {
	position: relative;
	border-radius: size(30);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: size(30);
		@include radialGradient();
		z-index: 1;
	}
	.nav-pills {
		position: relative;
		z-index: 2;
		.nav-item {
			@include media-breakpoint-down(md) {
				flex: 0 0 auto;
			}
			&:not(:last-child) {
				margin-right: size(15);
			}
			.btn {
				padding: size(10) size(20);
				&.active,
				&:hover {
					background: $primary;
					color: $white;
					border-color: $primary;
				}
				&:hover {
					transform: none;
				}
			}
		}
	}
	.form {
		position: relative;
		z-index: 2;
		border: size(1) solid rgba($white, 0.5);
		border-radius: size(100);
		@include media-breakpoint-down(lg) {
			border-radius: size(30);
		}
		.icon {
			flex: 0 0 size(30);
			max-width: size(30);
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		.line {
			flex: 0 0 size(1);
			width: size(1);
			height: size(34);
			background: rgba($white, 0.5);
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		.form-control {
			color: $white;
			background-color: transparent;
			border: none;
			@include media-breakpoint-down(md) {
				padding: size(15) size(20);
				border: size(1) solid rgba($white, 0.5);
			}
			&:not(select) {
				@include media-breakpoint-down(lg) {
					flex: 0 0 50%;
					max-width: 50%;
				}
				@include media-breakpoint-down(md) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			&::placeholder {
				color: $white;
			}
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		select {
			background-image: url(../images/white-arrow-select.svg);
			max-width: size(166);
			flex: 0 0 size(166);
			@include media-breakpoint-down(lg) {
				max-width: size(166);
				flex: 0 0 size(166);
			}
			@include media-breakpoint-down(md) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: size(20);
			}
			option {
				color: $secondary;
			}
		}
		.btn {
			flex: 0 0 size(140);
			max-width: size(140);
			text-align: center;
			@include media-breakpoint-down(lg) {
				flex: 0 0 100%;
				max-width: 100%;
			}
			&:hover {
				transform: translateY(0) translateX(size(5));
			}
		}
	}
	.tab-content {
		z-index: 2;
	}
}

.about {
	margin-top: size(-100);
	@include media-breakpoint-down(md) {
		margin-top: size(-150);
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			180deg,
			#070a11 0%,
			#060910 46.18%,
			rgba(217, 217, 217, 0) 100%
		);
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
		border-radius: size(30);
	}
	.bg {
		width: fit-content;
		.img-fluid {
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: 50%;
		}
		.qr {
			position: absolute;
			top: size(40);
			right: size(-20);
			transform-origin: center;
			@include media-breakpoint-down(xl) {
				transform: scale(0.8);
			}
			@include media-breakpoint-down(xl) {
				transform: scale(0.5);
			}
		}
		.view {
			position: absolute;
			left: size(-60);
			top: 50%;
			transform: translate(0, -50%);
			transform-origin: center;
			@include media-breakpoint-down(xl) {
				transform: translate(0, -50%) scale(0.8);
			}
			@include media-breakpoint-down(xl) {
				left: size(-30);
				transform: translate(0, -50%) scale(0.5);
			}
		}
		.card__short {
			position: absolute;
			left: 50%;
			bottom: size(24);
			transform: translate(-50%, 0);
			transform-origin: center;
			@include media-breakpoint-down(xl) {
				transform: translate(-50%, 0) scale(0.8);
			}
			@include media-breakpoint-down(xl) {
				transform: translate(-50%, 0) scale(0.5);
			}
		}
	}
}

.features {
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 43%;
		background: $off-white;
		@include media-breakpoint-down(lg) {
			height: 63%;
		}
	}
	.data {
		max-width: size(530);
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.items {
		.row {
			.col-lg-4 {
				&:not(:last-child) {
					@include media-breakpoint-down(lg) {
						margin-bottom: size(30);
					}
				}
				&:nth-child(2) {
					@include media-breakpoint-up(lg) {
						margin-top: size(30);
					}
				}
				&:nth-child(3) {
					@include media-breakpoint-up(lg) {
						margin-top: size(60);
					}
				}
			}
		}
		.item {
			border-radius: size(20);
			.desc {
				@include lineClamp(4);
			}
			.title {
				font-size: size(20);
				@include media-breakpoint-down(md) {
					font-size: size(14);
				}
			}
			.arrow {
				width: size(50);
				height: size(50);
				background: $secondary;
				@include transition(0.3s all ease-in-out);
			}
			&:hover {
				@include shadow;
				.arrow {
					background: $primary;
				}
			}
		}
	}
}

.faqs {
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/faqs-bg.svg) no-repeat bottom center/ 100%;
		opacity: 0.5;
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.data {
		max-width: size(693);
		.desc {
			max-width: size(306);
		}
	}
	.nav-pills {
		position: relative;
		width: fit-content;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: size(30);
			@include radialGradient();
			z-index: 1;
		}
		.nav-item {
			position: relative;
			z-index: 2;
			&:not(:last-child) {
				margin-right: size(15);
			}
			.btn {
				padding: size(10) size(25);
				color: $white;
				border: none;
				@include media-breakpoint-down(md) {
					border: size(1) solid $white;
				}
				&:hover,
				&.active {
					background: $primary;
					color: $white;
					@include media-breakpoint-down(md) {
						border-color: $primary;
					}
				}
				&:hover {
					transform: none;
				}
			}
		}
	}

	.inside__data {
		flex: 0 0 size(472);
		max-width: size(472);
		@include media-breakpoint-down(xl) {
			flex: 0 0 calc(50% - size(15));
			max-width: calc(100% - size(15));
		}
		@include media-breakpoint-down(lg) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.data__slider {
		flex: 0 0 size(645);
		max-width: size(645);
		@include media-breakpoint-down(xl) {
			flex: 0 0 calc(50% - size(15));
			max-width: calc(50% - size(15));
		}
		@include media-breakpoint-down(lg) {
			flex: 0 0 100%;
			max-width: 100%;
		}
		.docs__slider {
			.slick-slide {
				img {
					border-radius: size(20);
					width: 100%;
				}
			}
		}
	}
	.videos,
	.blogs {
		.col-xl-3 {
			&:not(:last-child) {
				margin-bottom: size(30);
			}
		}
		.item {
			border-radius: size(20);
			@include radialGradient();
			.bg {
				.play__youtube {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				.date {
					position: absolute;
					top: size(10);
					left: size(10);
					font-size: size(14);
					@include radialGradient();
				}
			}
			img {
				border-radius: size(10);
				&:not(.play__youtube) {
					width: 100%;
				}
			}
			.title {
				font-size: size(20);
				@include media-breakpoint-down(md) {
					font-size: size(14);
				}
			}
			&:hover {
				@include shadow();
				transform: translateY(size(-5));
			}
		}
	}
	&.support__faqs {
		&::after {
			display: none;
		}
		.nav-pills {
			&::before {
				@include darkRadialGradient();
				@include shadow();
			}
		}
		.videos,
		.blogs {
			.item {
			}
		}
	}
}

.testimonials {
	margin-top: size(-100);
	position: relative;
	z-index: 3;
	@include media-breakpoint-down(lg) {
		margin-top: size(-50);
	}
	@include media-breakpoint-down(md) {
		margin-top: size(-50);
	}
	.container {
		border-radius: size(30);
	}
	.item {
		border-radius: size(20);
		.name {
			font-size: size(20);
			@include media-breakpoint-down(md) {
				font-size: size(14);
			}
		}
	}
	.testimonials__slider {
		.slick-list {
			margin: 0 size(-15);
		}
		.slick-slide {
			margin: 0 size(15);
		}
	}
}

.education {
	.data {
		max-width: size(650);
	}
	.item {
		border-radius: size(20);
		.bg {
			.play__youtube {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.date {
				position: absolute;
				top: size(10);
				left: size(10);
				font-size: size(14);
				@include radialGradient();
			}
		}
		img {
			border-radius: size(10);
			&:not(.play__youtube) {
				width: 100%;
			}
		}
		.title {
			font-size: size(20);
			@include media-breakpoint-down(md) {
				font-size: size(14);
			}
		}
		&:hover {
			@include shadow();
			transform: translateY(size(-5));
		}
	}
	.videos__slider {
		.slick-list {
			padding: size(20) size(0);
		}
		.slick-list {
			margin: 0 size(-15);
		}
		.slick-slide {
			margin: 0 size(15);
		}
		.slick-arrow {
			&.slick-next {
				right: size(-30);
			}
			&.slick-prev {
				left: size(-30);
			}
		}
	}
}

.footer {
	font-size: size(14);
	.logo {
		@include media-breakpoint-down(md) {
			text-align: center;
		}
		img {
			@include media-breakpoint-down(md) {
				width: size(150);
			}
		}
	}
	.title {
		font-size: size(16);
		@include media-breakpoint-down(md) {
			font-size: size(14);
		}
	}
	.links {
		& > a {
			color: $white;
			display: block;
			flex: 0 0 100%;
			max-width: 100%;
			@include media-breakpoint-down(md) {
				flex: 0 0 calc(50% - size(15));
				max-width: calc(50% - size(15));
			}
			&:not(:last-child) {
				margin-bottom: size(15);
				@include media-breakpoint-down(md) {
					margin-right: size(15);
				}
			}
			&:hover {
				color: $primary;
			}
		}
		&.features__links {
			a {
				flex: 0 0 calc(50% - size(15));
				max-width: calc(50% - size(15));
				&:nth-child(odd) {
					margin-right: size(15);
				}
			}
		}
	}
	.copyright {
		@include media-breakpoint-down(md) {
			text-align: center;
			border-top: size(1) solid rgba($white, 0.5);
		}
		.links {
			a {
				width: auto;
				flex: 0 0 auto;
				max-width: initial;
				&:not(:last-child) {
					margin-right: size(30);
				}
			}
		}
	}
	.social {
		.media {
			a {
				width: size(30);
				height: size(30);
				color: $secondary;
				background: $off-white;
				&:not(:last-child) {
					margin-right: size(15);
				}
				svg {
					width: size(18);
					stroke-width: size(1);
				}
				&:hover {
					@include shadow();
					background: $primary;
					color: $white;
				}
			}
		}
	}
}

.no__answer {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/white-wave.png) no-repeat center center / 100%;
	}
	.container {
		position: relative;
		z-index: 2;
	}
}

.support__categories {
	margin-top: size(-98);
	position: relative;
	z-index: 2;
	.col-lg-3 {
		&:not(:last-child) {
			margin-bottom: size(30);
		}
	}
	.item {
		.title {
			font-size: size(20);
			@include media-breakpoint-down(md) {
				font-size: size(14);
			}
		}
		&:hover {
			@include shadow();
		}
	}
}
