@import "./configuration";

.navbar {
  @include transition(0.3s all ease-in-out);
  margin-top: size(40);
  padding: 0;
  @include media-breakpoint-down(md) {
    margin-top: size(20);
  }
  .navbar-brand {
    img {
      @include media-breakpoint-down(xl) {
        width: size(150);
      }
      @include transition(0.3s all ease-in-out);
    }
  }
  .navbar-collapse {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0;
      left: -200%;
      width: 80%;
      z-index: 999;
      min-height: 100vh;
      overflow-y: auto;
      @include radialGradient();
      @include transition(0.3s all ease-in-out);
      &.show {
        left: 0;
      }
    }
    .navbar-nav {
      position: relative;
      @include transition(0.3s all ease-in-out);
      @include media-breakpoint-down(lg) {
        background: transparent;
        backdrop-filter: none;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: size(50);
        @include radialGradient();
        opacity: 0.5;
        z-index: 1;
        @include transition(0.3s all ease-in-out);
        @include media-breakpoint-down(lg) {
          opacity: 0;
        }
      }
      .nav-item {
        position: relative;
        z-index: 2;
        &:not(:last-child) {
          margin-right: size(45);
          @include media-breakpoint-down(xl) {
            margin-right: size(20);
          }
          @include media-breakpoint-down(lg) {
            margin-bottom: size(30);
          }
        }
        &:nth-last-child(3) {
          @include media-breakpoint-up(lg) {
            margin-right: 0;
          }
        }
        .nav-link {
          color: $white;
          padding: 0;
          @include media-breakpoint-down(lg) {
            font-size: size(20);
          }
          &:hover,
          &.active {
            color: $primary;
          }
        }
      }
    }
  }
  .btn {
    background: $white;
    color: $secondary;
    border: none;
    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 0;
      right: size(80);
    }
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
    }
  }
  .navbar-toggler {
    position: absolute;
    top: size(10);
    right: size(10);
    border: none;
    @include transition(0.3s all ease-in-out);
    @include media-breakpoint-down(md) {
      top: size(4);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon {
      background-image: none;
      background-color: transparent;
      border: none;
      width: size(30);
      height: size(20);
      position: relative;
      .menu-icon {
        display: block;
        width: 100%;
        height: size(2);
        background-color: $white;
        position: absolute;
        right: 0;
        transform-origin: center right;
        @include transition(0.3s all ease-in-out);
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        .menu-icon {
          &:nth-child(1) {
            transform: rotate(45deg) translate(size(14), size(13));
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(size(14), size(-13));
          }
          &:nth-child(2) {
            opacity: 0;
          }
        }
      }
    }
  }
  .notification {
    @include media-breakpoint-down(lg) {
      position: absolute;
      right: size(216);
    }
    @include media-breakpoint-down(md) {
      right: size(60);
    }
    .dropdown-toggle {
      color: $white;
      &::after {
        display: none;
      }
      span {
        width: size(8);
        height: size(8);
        border-radius: size(100);
        background: $primary;
        position: absolute;
        top: 0;
        right: size(1);
      }
    }
    .dropdown-menu {
      border-radius: size(10);
      padding: size(15);
      @include radialGradient();
      @include shadow();
      border: none;
      color: $white;
      min-width: size(320);
      left: auto;
      right: size(19);
      top: 131%;
      @include transition(0.3s all ease-in-out);
      @include media-breakpoint-down(md) {
        min-width: size(270);
      }
      li {
        position: relative;
        padding-left: size(10);
        &::before {
          content: "";
          width: size(6);
          height: size(6);
          border-radius: 50%;
          position: absolute;
          top: size(6);
          left: 0;
          background: $primary;
        }
        &:not(:last-child) {
          padding-bottom: size(15);
        }
        &.notification__green {
          &::before {
            background: #01a501;
          }
        }
        &.notification__yellow {
          &::before {
            background: #c2bf03;
          }
        }
        &.notification__primary {
          &::before {
            background: $primary;
          }
        }
      }
    }
  }
  &.scrolled {
    background: $body-bg;
    margin-top: 0;
    padding: size(10) 0;
    @include shadow();
    .navbar-collapse {
      @include media-breakpoint-down(lg) {
        background: $body-bg;
      }
      .navbar-nav {
        &::before {
          opacity: 0;
        }
        .nav-item {
          .nav-link {
            color: $secondary;
            &:hover,
            &.active {
              color: $primary;
            }
          }
        }
      }
    }
    .navbar-toggler {
      @include media-breakpoint-down(lg) {
        top: size(13);
      }
      .navbar-toggler-icon {
        .menu-icon {
          background-color: $secondary;
        }
      }
    }
    .btn {
      color: $white;
      border-color: $secondary;
      background: $secondary;
      @include media-breakpoint-down(lg) {
        top: size(7);
      }
      &:hover {
        background: $primary;
        border-color: $primary;
        color: $white;
      }
    }
    .notification {
      .dropdown-toggle {
        color: $secondary;
      }
      .dropdown-menu {
        background: $off-white;
        color: $third;
        backdrop-filter: none;
      }
    }
  }
}

.banner {
  background: $dark url(../images/banner-bg.png) no-repeat bottom center/contain;
  min-height: size(690);
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  .data {
    max-width: size(500);
  }
  &.internal__banner {
    background-image: url(../images/internal-banner-bg.png);
    background-position: top right;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.form__search {
  max-width: size(810);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include radialGradient();
    border-radius: size(100);
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - size(-1));
    height: 100%;
    border: size(2) solid rgba($white, 0.5);
    border-radius: size(100);
    z-index: 0;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
  .has-validation {
    display: flex;
    align-items: center;
    flex: 0 0 calc(100% - size(60));
    max-width: calc(100% - size(60));
    color: $white;
    .form-control {
      background: transparent;
      border: none;
      color: $white;
      &::placeholder {
        color: $white;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }
    }
    .invalid-feedback,
    .valid-feedback {
      bottom: size(-13);
      left: size(10);
      @include media-breakpoint-down(md) {
        position: absolute;
        bottom: size(-39);
      }
    }
  }
  .btn {
    width: size(40);
    height: size(40);
    border-radius: size(100);
    &:hover {
      transform: translateX(size(5));
    }
  }
}

.services__tabs {
  position: relative;
  border-radius: size(30);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: size(30);
    @include radialGradient();
    z-index: 1;
    opacity: 0.8;
  }
  .nav-pills {
    position: relative;
    z-index: 2;
    .nav-item {
      @include media-breakpoint-down(md) {
        flex: 0 0 auto;
      }
      &:not(:last-child) {
        margin-right: size(15);
      }
      .btn {
        padding: size(10) size(20);
        &.active,
        &:hover {
          background: $primary;
          color: $white;
          border-color: $primary;
        }
        &:hover {
          transform: none;
        }
      }
    }
  }
  .form {
    position: relative;
    z-index: 2;
    border: size(2) solid rgba($white, 0.5);
    background: rgba($dark, 0.5);

    border-radius: size(100);
    @include media-breakpoint-down(lg) {
      border-radius: size(30);
    }
    .icon {
      flex: 0 0 size(30);
      max-width: size(30);
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .line {
      flex: 0 0 size(1);
      width: size(1);
      height: size(34);
      background: rgba($white, 0.5);
      @include media-breakpoint-down(md) {
        display: none;
      }
      &.line__width {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: size(1);
      }
    }
    .form-control {
      color: $white;
      background-color: transparent;
      border: none;
      @include media-breakpoint-down(md) {
        padding: size(15) size(20);
        border: size(2) solid rgba($white, 0.5);
      }
      &:not(select) {
        @include media-breakpoint-down(lg) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      &::placeholder {
        color: $white;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: rgba($white, 0.5);
      }
    }
    select {
      background-image: url(../images/white-arrow-select.svg);
      max-width: size(166);
      flex: 0 0 size(166);
      @include media-breakpoint-down(lg) {
        max-width: size(166);
        flex: 0 0 size(166);
      }
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: size(20);
      }
      option {
        color: $secondary;
      }
    }
    .btn {
      flex: 0 0 size(140);
      max-width: size(140);
      text-align: center;
      @include media-breakpoint-down(lg) {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }
      &:hover {
        transform: translateY(0) translateX(size(5));
      }
    }
    .has-validation {
      flex: 0 0 calc(100% - size(420));
      max-width: calc(100% - size(420));
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .valid-feedback,
      .invalid-feedback {
        bottom: size(-20);
        left: size(13);
        @include media-breakpoint-down(md) {
          bottom: size(-6);
        }
        &.invalid-feedback:not(.short__url__valid) {
          bottom: size(-52);
          white-space: nowrap;
          @include media-breakpoint-down(md) {
            white-space: wrap;
            bottom: size(-6);
          }
        }
      }
    }
    &.paste__it__validation {
      border-radius: size(30);
      .has-validation {
        flex: 0 0 100%;
        max-width: 100%;
        .invalid-feedback:not(.short__url__valid) {
          bottom: size(-19);
          @include media-breakpoint-down(md) {
            bottom: size(-6);
          }
        }
      }
      textarea {
        resize: none;
        padding: size(15) size(25);
      }
      select {
        flex: 0 0 100%;
        max-width: 100%;
        padding: size(15) size(25);
        border-radius: size(100);
      }
      .form-control {
        border: size(2) solid rgba($white, 0.5);
        border-radius: size(20);
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .tab-content {
    z-index: 2;
  }
}

.about,
.company__mission,
.feature__details,
.blog__details {
  margin-top: size(-100);
  @include media-breakpoint-down(md) {
    margin-top: size(-150);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #070a11 0%,
      #060910 46.18%,
      rgba(217, 217, 217, 0) 100%
    );
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    border-radius: size(30);
  }
  .bg {
    width: fit-content;
    .img-fluid {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
    .qr {
      position: absolute;
      top: size(40);
      right: size(-20);
      transform-origin: center;
      @include media-breakpoint-down(xl) {
        transform: scale(0.8);
      }
      @include media-breakpoint-down(xl) {
        transform: scale(0.5);
      }
    }
    .view {
      position: absolute;
      left: size(-60);
      top: 50%;
      transform: translate(0, -50%);
      transform-origin: center;
      @include media-breakpoint-down(xl) {
        transform: translate(0, -50%) scale(0.8);
      }
      @include media-breakpoint-down(xl) {
        left: size(-30);
        transform: translate(0, -50%) scale(0.5);
      }
    }
    .card__short {
      position: absolute;
      left: 50%;
      bottom: size(24);
      transform: translate(-50%, 0);
      transform-origin: center;
      @include media-breakpoint-down(xl) {
        transform: translate(-50%, 0) scale(0.8);
      }
      @include media-breakpoint-down(xl) {
        transform: translate(-50%, 0) scale(0.5);
      }
    }
  }
}

.features,
.company__values {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 43%;
    background: $off-white;
    z-index: -1;
    @include media-breakpoint-down(lg) {
      height: 63%;
    }
  }
  .data {
    max-width: size(530);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .items {
    .row {
      .col-lg-4 {
        &:not(:last-child) {
          @include media-breakpoint-down(lg) {
            margin-bottom: size(30);
          }
        }
        &:nth-child(2) {
          @include media-breakpoint-up(lg) {
            margin-top: size(30);
          }
        }
        &:nth-child(3) {
          @include media-breakpoint-up(lg) {
            margin-top: size(60);
          }
        }
      }
    }
    .item {
      border-radius: size(20);
      @include transition(0.3s all ease-in-out);
      .desc {
        @include lineClamp(4);
      }
      .title {
        font-size: size(20);
        @include media-breakpoint-down(md) {
          font-size: size(14);
        }
      }
      .arrow {
        width: size(50);
        height: size(50);
        background: $secondary;
        @include transition(0.3s all ease-in-out);
      }
      &:hover {
        @include shadow;
        .arrow {
          background: $primary;
        }
      }
    }
  }
}

.faqs {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/faqs-bg.svg) no-repeat bottom center/ 100%;
    opacity: 0.5;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .data {
    max-width: size(693);
    .desc {
      max-width: size(306);
    }
  }
  .nav-pills {
    position: relative;
    width: fit-content;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: size(30);
      @include radialGradient();
      z-index: 1;
    }
    .nav-item {
      position: relative;
      z-index: 2;
      &:not(:last-child) {
        margin-right: size(15);
      }
      .btn {
        padding: size(10) size(25);
        color: $white;
        border: none;
        @include media-breakpoint-down(md) {
          border: size(1) solid $white;
        }
        &:hover,
        &.active {
          background: $primary;
          color: $white;
          @include media-breakpoint-down(md) {
            border-color: $primary;
          }
        }
        &:hover {
          transform: none;
        }
      }
    }
  }

  .inside__data {
    flex: 0 0 size(472);
    max-width: size(472);
    @include media-breakpoint-down(xl) {
      flex: 0 0 calc(50% - size(15));
      max-width: calc(100% - size(15));
    }
    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .data__slider {
    flex: 0 0 size(645);
    max-width: size(645);
    @include media-breakpoint-down(xl) {
      flex: 0 0 calc(50% - size(15));
      max-width: calc(50% - size(15));
    }
    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .docs__slider {
      .slick-slide {
        img {
          border-radius: size(20);
          width: 100%;
        }
      }
    }
  }
  .videos,
  .blogs {
    .col-xl-3 {
      &:not(:last-child) {
        margin-bottom: size(30);
      }
    }
    .item {
      border-radius: size(20);
      @include radialGradient();
      .bg {
        .play__youtube {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .date {
          position: absolute;
          top: size(10);
          left: size(10);
          font-size: size(14);
          @include radialGradient();
        }
      }
      img {
        border-radius: size(10);
        &:not(.play__youtube) {
          width: 100%;
        }
      }
      .title {
        font-size: size(20);
        @include media-breakpoint-down(md) {
          font-size: size(14);
        }
      }
      &:hover {
        @include shadow();
        transform: translateY(size(-5));
      }
    }
  }
  &.support__faqs {
    &::after {
      display: none;
    }
    .nav-pills {
      &::before {
        @include darkRadialGradient();
        @include shadow();
      }
    }
  }
}

.testimonials {
  margin-top: size(-100);
  position: relative;
  z-index: 3;
  @include media-breakpoint-down(lg) {
    margin-top: size(-50);
  }
  .container {
    border-radius: size(30);
  }
  .item {
    border-radius: size(20);
    .name {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
  }
  .testimonials__slider {
    .slick-list {
      margin: 0 size(-15);
    }
    .slick-slide {
      margin: 0 size(15);
    }
  }
}

.education {
  .data {
    max-width: size(650);
  }
  .item {
    border-radius: size(20);
    .bg {
      .play__youtube {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .date {
        position: absolute;
        top: size(10);
        left: size(10);
        font-size: size(14);
        @include radialGradient();
      }
    }
    img {
      border-radius: size(10);
      &:not(.play__youtube) {
        width: 100%;
      }
    }
    .title {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
    &:hover {
      @include shadow();
      transform: translateY(size(-5));
    }
  }
  .videos__slider {
    .slick-list {
      padding: size(20) size(0);
    }
    .slick-list {
      margin: 0 size(-15);
    }
    .slick-slide {
      margin: 0 size(15);
    }
    .slick-arrow {
      &.slick-next {
        right: size(-30);
      }
      &.slick-prev {
        left: size(-30);
      }
    }
  }
}

.footer {
  font-size: size(14);
  .logo {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    img {
      @include media-breakpoint-down(md) {
        width: size(150);
      }
    }
  }
  .title {
    font-size: size(16);
    @include media-breakpoint-down(md) {
      font-size: size(14);
    }
  }
  .links {
    & > a {
      color: $white;
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-down(md) {
        flex: 0 0 calc(50% - size(15));
        max-width: calc(50% - size(15));
      }
      &:not(:last-child) {
        margin-bottom: size(15);
        @include media-breakpoint-down(md) {
          margin-right: size(15);
        }
      }
      &:hover {
        color: $primary;
      }
    }
    &.features__links {
      a {
        flex: 0 0 calc(50% - size(15));
        max-width: calc(50% - size(15));
        &:nth-child(odd) {
          margin-right: size(15);
        }
      }
    }
  }
  .copyright {
    @include media-breakpoint-down(md) {
      text-align: center;
      border-top: size(1) solid rgba($white, 0.5);
    }
    .links {
      a {
        width: auto;
        flex: 0 0 auto;
        max-width: initial;
        &:not(:last-child) {
          margin-right: size(30);
        }
      }
    }
  }
  .social {
    .media {
      a {
        width: size(30);
        height: size(30);
        color: $secondary;
        background: $off-white;
        &:not(:last-child) {
          margin-right: size(15);
        }
        svg {
          width: size(18);
          stroke-width: size(1);
        }
        &:hover {
          @include shadow();
          background: $primary;
          color: $white;
        }
      }
    }
  }
}

.no__answer,
.start__business {
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/white-wave.png) no-repeat center center / 100%;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 1;
    .data {
      position: relative;
      z-index: 2;
    }
  }
  &.start__business {
    &::before {
      display: none;
    }
    .container {
      border-radius: size(30);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/white-wave.png) no-repeat center center / 100%;
        z-index: 1;
      }
    }
  }
}

.support__categories {
  margin-top: size(-100);
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    margin-top: size(-50);
  }
  .col-lg-3 {
    &:not(:last-child) {
      margin-bottom: size(30);
    }
  }
  .item {
    @include transition(0.3s all ease-in-out);
    .title {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
    &:hover {
      @include shadow();
    }
  }
}

.pricing {
  margin-top: size(-100);
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    margin-top: size(-50);
  }
  .col-lg-4 {
    &:not(:last-child) {
      margin-bottom: size(30);
    }
  }
  .item {
    @include transition(0.3s all ease-in-out);
    .title {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
    .num {
      font-size: size(45);
      @include media-breakpoint-down(lg) {
        font-size: size(35);
      }
      @include media-breakpoint-down(md) {
        font-size: size(25);
      }
      span {
        font-size: size(20);
        @include media-breakpoint-down(lg) {
          font-size: size(18);
        }
        @include media-breakpoint-down(md) {
          font-size: size(16);
        }
      }
    }
    &:hover {
      @include shadow();
    }
  }
}

.account {
  @include media-breakpoint-down(lg) {
    background: url(../images/account-bg.jpg) no-repeat center center/cover;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.8);
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
  .bg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .form {
    @include media-breakpoint-up(md) {
      background: $dark;
    }
    @include media-breakpoint-down(lg) {
      max-width: size(450);
      margin: 0 auto;
      background: transparent;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/account-banner.png) no-repeat top right/100%;
      z-index: 0;
      pointer-events: none;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    & > * {
      position: relative;
      z-index: 2;
    }
    .form-group {
      border: size(2) solid rgba($white, 0.5);
      height: size(56);
      .label__icon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: size(15);
        transform: translate(0, -50%);
        filter: brightness(0) invert(1);
      }
      .form-control {
        background-color: transparent;
        border: none;
        padding: size(10);
        color: $white;
        margin-top: size(-10);
        margin-left: size(-10);
        width: calc(100% + size(24));
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $white;
        }
        &::placeholder {
          color: $white;
        }
      }
      select {
        background-image: url(../images/white-arrow-select.svg);
      }
      select {
        option {
          color: $secondary;
        }
      }
      .form-check-label {
        cursor: pointer;
      }
      .form-check-input {
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .form-check {
        @include media-breakpoint-down(md) {
          .valid-feedback,
          .invalid-feedback {
            left: 0;
          }
        }
      }
    }
    .or {
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        background: rgba($white, 0.1);
        width: calc(50% - size(70));
        height: 1px;
        z-index: 1;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: rgba($white, 0.1);
        width: calc(50% - size(70));
        height: 1px;
        z-index: 1;
      }
      span {
        position: relative;
        z-index: 2;
      }
    }
    .was-validated {
      .form-control {
        &:valid {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        }
      }
    }
  }
  .btn-outline-white {
    border-width: size(2);
    @include media-breakpoint-down(md) {
      padding: size(13) size(20);
    }
  }
  .icon-google {
    @include media-breakpoint-down(md) {
      width: size(20);
    }
  }
  .btn-primary {
    border: size(2) solid $primary;
    &:hover {
      border-color: #a1313f;
    }
  }
  &.account__signup {
    .form {
      @include media-breakpoint-down(lg) {
        max-width: size(650);
      }
    }
  }
  &.verify__email {
    background: $dark url(../images/internal-banner-bg.png) no-repeat top
      right/100%;
    .box__email {
      max-width: size(573);
      border-radius: size(30);
      @include radialGradient();
      margin: size(-100) auto 0;
      @include media-breakpoint-down(md) {
        max-width: 90%;
      }
    }
    .email {
      background: rgba($primary, 0.2);
      border: size(2) solid $primary;
    }
  }
  .has-validation {
    .valid-feedback,
    .invalid-feedback {
      @include media-breakpoint-down(md) {
        bottom: size(-10);
        left: size(-40);
      }
    }
  }
}

.account__footer {
  font-size: size(14);
  position: absolute;
  z-index: 3;
  bottom: size(30);
  left: 0;
  width: 100%;
  .heading {
    h1 {
      @include media-breakpoint-down(md) {
        font-size: size(25);
      }
    }
  }
  .media {
    a {
      width: size(30);
      height: size(30);
      color: $secondary;
      background: $off-white;
      &:not(:last-child) {
        margin-right: size(15);
      }
      svg {
        width: size(18);
        stroke-width: size(1);
      }
      &:hover {
        @include shadow();
        background: $primary;
        color: $white;
      }
    }
  }
}

.form__contact {
  margin-top: size(-100);
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    margin-top: size(-50);
  }
  .container {
    border-radius: size(30);
  }
  .form-group {
    border: size(2) solid $light;
    height: size(56);
    .label__icon {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: size(15);
      transform: translate(0, -50%);
    }
    .form-control {
      background-color: transparent;
      border: none;
      padding: size(10);
      margin-top: size(-10);
      margin-left: size(-10);
      width: calc(100% + size(24));
      color: $secondary;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: $secondary;
      }
    }
    select {
      background-image: url(../images/arrow-select.svg);
      option {
        color: $secondary;
      }
    }
    .form-check-label {
      cursor: pointer;
    }
    .form-check-input {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  textarea {
    &.form-control {
      border-radius: size(20);
      min-height: size(150);
      resize: none;
      background: transparent;
      padding: size(15) size(20);
      &::placeholder {
        color: $secondary;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  .form-control {
    padding: size(15) size(20);
    background-color: transparent;
    &::placeholder {
      color: $secondary;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &.captcha {
      flex: 0 0 size(272);
      max-width: size(272);
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .has-validation {
    width: 100%;
    & + img {
      @include media-breakpoint-down(xl) {
        width: 54%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    .valid-feedback,
    .invalid-feedback {
      @include media-breakpoint-down(md) {
        bottom: size(-10);
        left: size(-40);
      }
    }
    textarea {
      & + .invalid-feedback {
        @include media-breakpoint-down(md) {
          bottom: size(16);
          left: 0;
        }
        & + .valid-feedback {
          @include media-breakpoint-down(md) {
            bottom: size(16);
            left: 0;
          }
        }
      }
    }
    &.captcha {
      .invalid-feedback,
      .valid-feedback {
        @include media-breakpoint-down(md) {
          bottom: size(-8);
          left: 0;
        }
      }
    }
  }
  .btn {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.features__items {
  margin-top: size(-100);
  @include media-breakpoint-down(md) {
    margin-top: size(-150);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .row {
    .col-lg-4 {
      &:not(:last-child) {
        margin-bottom: size(30);
      }
    }
  }
  .item {
    border-radius: size(20);
    height: 100%;
    @include transition(0.3s all ease-in-out);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .desc {
      @include lineClamp(4);
    }
    .title {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
    .arrow {
      width: size(50);
      height: size(50);
      background: $secondary;
      @include transition(0.3s all ease-in-out);
    }
    &:hover {
      @include shadow;
      .arrow {
        background: $primary;
      }
    }
  }
}

.community {
  margin-top: size(-100);
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    margin-top: size(-50);
  }
  .col-lg-4 {
    &:not(:last-child) {
      margin-bottom: size(30);
    }
  }
  .item {
    border-radius: size(20);
    @include transition(0.3s all ease-in-out);
    .bg {
      position: relative;
      img {
        border-radius: size(10);
      }
      .date {
        position: absolute;
        top: size(10);
        left: size(10);
        background: $body-bg;
        border-radius: size(5);
      }
    }
    .desc {
      @include lineClamp(4);
    }
    .title {
      font-size: size(20);
      @include media-breakpoint-down(md) {
        font-size: size(14);
      }
    }
    .arrow {
      width: size(50);
      height: size(50);
      background: $secondary;
      @include transition(0.3s all ease-in-out);
    }
    &:hover {
      @include shadow;
      .arrow {
        background: $primary;
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    .btn-close {
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .list__notifications,
    .list__downloads {
      li {
        position: relative;
        padding-left: size(10);
        &::before {
          content: "";
          width: size(6);
          height: size(6);
          border-radius: 50%;
          position: absolute;
          top: size(6);
          left: 0;
          background: $primary;
        }
        &:not(:last-child) {
          padding-bottom: size(15);
        }
        &.notification__green,
        &.download__green {
          &::before {
            background: #01a501;
          }
        }
        &.notification__yellow,
        &.download__yellow {
          &::before {
            background: #c2bf03;
          }
        }
        &.notification__primary,
        &.download__primary {
          &::before {
            background: $primary;
          }
        }
        .link__download {
          color: $secondary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.documentations {
  margin-top: size(-100);
  @include media-breakpoint-down(md) {
    margin-top: size(-150);
  }
  position: relative;
  .container {
    border-radius: size(30);
  }
  .documentation__nav {
    .documentation__item {
      &.dropdown__toggle {
        position: relative;
        .icon__arrow {
          position: absolute;
          right: size(15);
          top: size(15);
          width: size(20);
          height: size(20);
          border-radius: size(4);
          color: $secondary;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $white;
          cursor: pointer;
          transform-origin: center center;
          z-index: 5;
          @include transition(0.3s all ease-in-out);
          svg {
            width: size(15);
            height: auto;
          }
          &.active {
            transform: rotate(90deg);
            color: $primary;
          }
        }
      }
      .documentation__link {
        display: flex;
        align-items: center;
        color: $white;
        position: relative;
        border-radius: size(6);
        padding: size(15);
        width: 100%;
        &::before {
          content: "";
          position: absolute;
          left: size(0);
          top: 50%;
          width: size(2);
          height: 0;
          background: $white;
          transform: translate(0, -50%);
          border-radius: size(10);
          @include transition(0.3s all ease-in-out);
        }
        &.active {
          background: $primary;
          color: $white;
          &::before {
            height: 60%;
          }
        }
        &:hover {
          &::before {
            height: 60%;
          }
        }
        &.documentation__nested__link {
          &:hover {
            color: $primary;
          }
        }
        &.dropdown__toggle {
          .icon__arrow {
            color: $primary;
          }
        }
      }
    }
  }
  .documentation__nested {
    display: none;
    padding: 0 0 0 size(15);
    .documentation__item {
      .documentation__link {
        &::before {
          display: none;
        }
      }
    }
  }
}
